$fontColor: #333;
$fontFamily: 'Gayathri', sans-serif;
$effect_move: 20;
$effect_time: 800;

body {
	font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", "Helvetica Neue", HelveticaNeue, YuGothic, "Yu Gothic Regular", "Yu Gothic", Verdana, Meiryo, sans-serif;
  color: $fontColor;
  letter-spacing: .1em;
}

.scrollFade {
  opacity: 0;
  transition: $effect_time + ms;
  transform: translateY($effect_move + px);

  &.done {
    opacity : 1;
    transform : translate(0, 0);
  }
}

.textLink {
  font-size: 20px;
  padding: 0 29px 10px 0;
  border-bottom: 1px solid #d3dbd1;
  transition: .5s;

  &:hover {
    border-color: #64725b;
  }
}

.textLink--center {
  padding: 0 29px 10px;
}

#olivia {
  position: relative;
}

h1, .textLink {
  font-family: $fontFamily;
  letter-spacing: 0.1em;
}

.spOnly {
  display: none;
}

.mainvisual {
  background-color: #afbcaa;
  width: 100%;
  height: 100vh;
  position: relative;

  .mainvisual_text {
    width: 20em;
    position: absolute;
    left: 20%;
    top: 30%;
    z-index: 1;
  }

	h1 {
		font-size: 68px;
  }

	.mainText {
    margin-top: 29px;
		font-size: 14px;
		line-height: 2.5;
  }

	.mainLink {
    margin-top: 50px;
		font-size: 20px;
  }
  
}

.title {
  font-family: $fontFamily;
  letter-spacing: 0.1em;
}

.news {
  margin-top: 74px;

  .title {
    font-size: 26px;
    text-align: center;
  }

  &Box {
    width: 500px;
    margin: 0 auto;
    font-size: 16px;
  }

  &Box_list {
    margin-top: 45px;
    line-height: 2;
  }

  &Box_link {
    display: flex;
    transition: .5s;

    &:hover {
      opacity: 0.2;
    }
  }
  
  &Box_date {
    color: #929b8f;
    margin-right: 29px;
  }
}

.contents {
  margin-top: 160px;
  text-align: center;

  .title {
    font-size: 52px;
  }

  .lead {
    font-size: 14px;
    line-height: 2;
    margin-top: 8px;
  }
}

.recommend {
  .recommendSliderBox {
    display: flex;
    justify-content: space-between;
    min-width: 1100px;
    margin-top: 29px;
  }

  .recommendSlider {
    width: 380px;
    margin-top: 103px;

    .title {
      font-size: 30px;
    }
  }

  .recommendSliderNav {
    width: 12vw;
  }

  .recommendSliderNav:nth-of-type(3) {
    margin-top: 206px;
  }

  .captionWrap {
    position: relative;
    margin-left: -45px;

    .caption {
      position: absolute;
      left: 0;
      top: 38%;
      opacity: 0;
      transition: .5s;
      text-align: left;
      line-height: 1.6;

      .title {
        font-size: 28px;
        margin-bottom: 29px;
      }

      &.current {
        opacity: 1;
      }
    }
    .sliderCaption {
      width: 340px;
    }
  }

  .captionWrapSp {
    display: none;
  }


  .slideButtons {
    position: absolute;
    bottom: 103px;
    display: flex;
  }

  .slideButton {
    transition: .5s;

    &:hover {
      opacity: 0.6;
    }
  }

  .slideButton + .slideButton {
    margin-left: 16px;
  }
}

.slider {
width:50%;
height:100vh;
margin-left: auto;
position:relative;
overflow: hidden;

  ul{
    margin:0;
    padding:0;
    list-style:none;

    li{
      position:absolute;
      top:0;
      left:0;
      animation-iteration-count:infinite;
      animation-duration:24s;
      width: 100%;
      height: 100%;
      background: url(/works/images/olivia/mainvisual001.jpg) no-repeat left top / 100% auto;
      background-size: cover;

      &:nth-child(1){
        animation-name:slider;
        animation-delay:-3s;
      }

      &:nth-child(2){
        animation-name:slider;
        animation-delay:5s;
        opacity:0;
        background: url(/works/images/olivia/mainvisual002.jpg);
        background-size: cover;
      }
      &:nth-child(3){
        animation-name:slider;
        animation-delay:13s;
        opacity:0;
        background: url(/works/images/olivia/mainvisual003.jpg);
        background-size: cover;
      }
    }
  }
}

@keyframes slider{
0%{
  opacity:0;
}
20.83%{
  opacity:1;
}
33.33%{
  opacity:1;
}
45.83%{
  opacity:0;
}
100%{
  opacity:0;
}	
}

.collection {
  .collectionLists {
    margin: 45px 0 0 140px;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    display: flex;

    &_list {
      text-align: left;
      line-height: 1.6;
      box-sizing: border-box;
      transition: .5s;

      & + .collectionLists_list {
        margin-left: 74px;
      }

      &:hover {
        opacity: 0.6;
      }
    }

    .collectionLists_caption {
      margin-top: 16px;
    }

    img {
      width: 280px;
    }
  }

  .contentsLink {
    margin: 45px 0 0 140px;
    text-align: left;
  }
}
.service { 
  &_lists {
    display: flex;
    justify-content: center;
    margin-top: 45px;
  }

  &_list {
    position: relative;
    overflow: hidden;
    transition: 1s;

    & + .service_list {
        margin-left: 16px;
    }
  } 

  &_img {
    transition: 2s;
    img {
       max-width: 500px;
       width: 100%;
    }
  }

  &_list:hover .service_img {
    transform: scale(1.1);
  }

  &_text {
    width: 15em;
    position: absolute;
    right: 3%;
    top: 40%;
    text-align: left;
    line-height: 1.8;
    font-size: 14px;
  }

  &_font {
    font-family: $fontFamily;
    letter-spacing: 0.1em;
    font-size: 24px;
  }
}

.concept {
  padding: 103px 0;
  background: url(/works/images/olivia/concept_img001.jpg) no-repeat center center / 100vw auto;
  background-attachment: fixed;

  .title {
    color: #fff;
  }

  .lead {
    color: #fff;
  }

  .conceptLinks {
    background-color: #fff;
    width: 660px;
    margin: 103px auto 0;
    padding: 45px 60px 55px;
    display: flex;
    justify-content: space-between;

    &_link {
      display: block;

      &:hover .textLink {
        border-color: #64725b;
      }
    }

    &_item {
      margin-right: 60px;
    }

    &_title {
      font-family: $fontFamily;
      letter-spacing: 0.1em;
      font-size: 24px;
      text-align: left;
    }

    &_text {
      margin-top: 16px;
      text-align: left;
      line-height: 2;

      &--sp {
        display: none;
      }
    }

    .contentsLink {
      margin-top: 29px;
      text-align: left;
    }
  }
}

.newsLists {
  .contentsLink {
    margin-top: 45px;
  }

  .newsBox {
    width: 630px;
    margin: 45px auto 0;
  }

  .newsBox_image {
    img {
      width: 136px;
    }
  }

  .newsBox_text {
    margin-left: 45px;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.9;
  }
}

.contact {
  .contentsLink {
    margin-top: 45px;
  }
}

// タブレット
@media screen and (max-width: 970px) {
  .mainvisual {
    .mainvisual_text {
      left: 12%;
    }    
  }


}
// スマホ
@media screen and (max-width: 768px) {
  .spOnly {
    display: block;
  }
  .contents {
    .title {
      font-size: 36px;
    }
    .lead {
      margin: 0 16px;
    }
  }
  .mainvisual {
    .slider {
      width: 100%;
    }
    .mainvisual_text {
      left: auto;
      right: 8%;
      color: #fff;
      text-shadow: 1px 1px 106px rgba(0,0,0,0.7);
    }
  }

  .menuExpand {
    .menu {
      .menu_title {
        pointer-events: all;
        cursor: pointer;
      }
    }

  }

  .news {
    &Box {
      width: auto;
      margin: 0 16px;

      &_link {
        display: block;
        line-height: 1.8;
      }
    }

    &Box_list {
      margin-top: 29px;
    }
  }

  .recommend {
    .recommendSliderBox {
      overflow: hidden;
      min-width: auto;
      margin-left: 16px;
    }

    .recommendSliderNav {
      width: 17vw;

      &:first-child {
        display: none;
      }

      img {
        width: 70vw;
      }
    }

    .recommendSliderNav:nth-of-type(3) {
      margin-top: 45px;
    }

    .recommendSlider {
      width: 70vw;
      margin-top: 0;

      img {
        width: 70vw;
      }
    }

    .captionWrap {
      display: none;
    }

    .captionWrapSp {
      display: block;
      margin: 0 0 0 16px;

      .buttons {
        display: flex;

        .button + .button {
          margin-left: 16px;
        }
      }

      .sliderCaption {
        position: relative;
        height: 160px;
      }

      .caption {
        position: absolute;
        left: 0;
        top: 0;
        margin-top: 29px;
        transition: .5s;
        opacity: 0;
        text-align: left;

        .title {
          font-size: 28px;
          margin-bottom: 29px;
        }
      }

      .caption.current {
        opacity: 1;
      }
    }
  }

  .service {
    &_lists {
      flex-direction: column;
    }

    &_img {
      img {
        max-width: none;
      }
    }

    &_list {
      & + .service_list {
          margin-left: 0;
      }
    }

    &_text {
      width: 12em;
    }

    &_font {
      font-size: 20px;
    }
  }

  .collection {
    .collectionLists {
      margin: 45px 0 0 45px;

      img {
        width: 200px;
      }
      &_list {
        & + .collectionLists_list {
          margin-left: 45px;
        }
      }
    }

    .contentsLink {
      margin: 45px 0 0 45px;
    }
  }

  .concept {
    background-size: 220% auto;
    background-attachment: unset;
    position: relative;

    .conceptLinks {
      display: block;
      width: auto;
      margin: 45px 16px 0;
      padding: 0;
      background-color: transparent;

      &_item {
        margin-top: 5px;
        margin-right: 0;
        background: url(/works/images/olivia/concept_ic001.png) #fff no-repeat right 16px center / 9px auto;
      }

      &_link {
        padding: 29px;
      }

      &_text {
        display: none;
        &--sp {
          display: block;
        }
      }

      .contentsLink {
        display: none;
      }
    }
  }

  .newsLists {
    .newsBox {
      width: auto;
      margin: 45px 16px 0;

      &_image {
        img {
          width: 97px;
        }
      }

      &_text {
        margin-left: 29px;
      }
    }
    .newsBox_link {
      display: flex;
    }
  }
}