body.fixed {
	width: 100%;
	height: 100%;
	position: fixed;
}

header {
	display: flex;
	height: 70px;
	position: absolute;
	left: 0;
	top: 0;
	//background-color: rgba(255,255,255,0.6);
	width: 100%;
	z-index: 2;

	.logo {
		margin-left: 3%;
		line-height: 1.9;
		font-family: $fontFamily;
		letter-spacing: 0.1em;
		font-size: 42px;
	}

	.headLinks {
		margin: 24px auto 0;
		font-family: $fontFamily;
		letter-spacing: 0.1em;
		font-size: 20px;
		display: flex;
	}

	.headLinks_link {
		& + .headLinks_link {
			margin-left: 6vw;
		}

		a {
			display: inline-block;
			transition: .5s;
		  }
		  a:hover {
			color: #fff;
		  }
	}

	.hamburger {
		margin: 24px 3% 0 0;
		width: 29px;
		height: 29px;
		cursor: pointer;
	}

	.hamburger_line {
		width: 29px;
		height: 1px;
		background-color: #333;
		position: relative;

		&::before,
		&::after {
			display: block;
			content: "";
			width: 29px;
			height: 1px;
			background-color: #333;
			position: absolute;
		}

		&::before {
			top: 10px;
		}

		&::after {
			top: 20px;
		}
	}
}
.stickyHeader {
	position: fixed;
	top: -70px;
	transition: .5s;
	z-index: 2;
	width: 100%;

	&.active {
		top: 0;
	}

	&_inner {
		display: flex;
		height: 70px;
		top: 0;
		background-color: rgba(255,255,255,0.8);
		

		.logo {
			margin-left: 3%;
			line-height: 1.9;
			font-family: $fontFamily;
			letter-spacing: 0.1em;
			font-size: 42px;
		}

		.headLinks {
			margin: 24px auto 0;
			font-family: $fontFamily;
			letter-spacing: 0.1em;
			font-size: 20px;
			display: flex;
		}

		.headLinks_link {
			& + .headLinks_link {
				margin-left: 6vw;
			}

			a {
				display: inline-block;
				transition: .5s;
			}
			a:hover {
				opacity: 0.5;
			}
		}

		.hamburger {
			margin: 24px 3% 0 0;
			width: 29px;
			height: 29px;
			cursor: pointer;
		}

		.hamburger_line {
			width: 29px;
			height: 1px;
			background-color: #333;
			position: relative;

			&::before,
			&::after {
				display: block;
				content: "";
				width: 29px;
				height: 1px;
				background-color: #333;
				position: absolute;
			}

			&::before {
				top: 10px;
			}

			&::after {
				top: 20px;
			}
		}
	}

}

.menuExpand {
	display: none;
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	background-color: #ddd6d1;
	z-index: 3;

	&_inner {
		width: 940px;
		margin: 25vh auto 0;
		display: flex;
		justify-content: space-between;
	}

	.menuTitle {
		font-size: 68px;
		font-family: $fontFamily;
		letter-spacing: 0.1em;
		margin-right: 10vw;
	}

	.menu {
		flex-grow: 1;
		display: flex;
		flex-wrap: wrap;
		
		&_title {
			font-size: 24px;
			font-family: $fontFamily;
			letter-spacing: 0.1em;
			pointer-events: none;
		}

		&_links {
			margin-top: 20px;
			line-height: 1.75;
		}

		&_link {
			transition: .5s;
		}

		&_link:hover {
			opacity: 0.5;
		}

		&_list + .menu_list {
			margin-left: 74px;
		}

		.menu_list:nth-of-type(4n){
			margin-left: 0;
		}
		.menu_list:nth-of-type(5){
			margin-left: 19px;
		}

		.menu_list:nth-of-type(n+4){
			margin-top: 74px;
		}
	}

	.closeButton {
		position: absolute;
		right: 36px;
		top: 16px;
		cursor: pointer;
		width: 30px;
		height: 30px;
	}

	.closeButton_line {
		position: relative;
		left: 0;
		top: 20px;
		width: 30px;
		height: 1px;
		background-color: #333;
		transform: rotate(45deg);

		&::after {
			display: block;
			content: "";
			width: 30px;
			height: 1px;
			background-color: #333;
			transform: rotate(-90deg);
		}
	}
}
@media screen and (max-width: 768px) {
	header {
		.headLinks {
			display: none;
		}

		.logo {
			font-size: 22px;
			margin-top: 16px;
		}

		.hamburger {
			margin: 20px 3% 0 auto;

			&_line {
				width: 25px;
	
				&::before {
					width: 25px;
					top: 9px;
				}
	
				&::after {
					width: 25px;
					top: 18px;
				}
			}
		}
	}

	.stickyHeader {
		.headLinks {
			display: none;
		}

		.logo {
			font-size: 22px;
			margin-top: 16px;
		}

		.hamburger {
			margin: 20px 3% 0 auto;

			&_line {
				width: 25px;
	
				&::before {
					width: 25px;
					top: 9px;
				}
	
				&::after {
					width: 25px;
					top: 18px;
				}
			}
		}
	}

	.menuExpand {
		.closeButton {
			right: 24px;
			top: 16px;
		}
	}

}
@media screen and (max-width: 940px) {
	.menuExpand {
		overflow: scroll;

		&_inner {
			width: auto;
			margin-top: 10vh;
			flex-direction: column;
		}

		.menuTitle {
			margin: 0 10% 0;
			font-size: 48px;
			pointer-events: all;
		}

		.menu {
			margin: 0 10% 0;
			flex-direction: column;

			.menu_list + .menu_list {
				margin-left: 0;
			}

			.menu_list:nth-of-type(n+4) {
				margin-top: 16px;
			}

			&_links {
				display: none;
				margin-bottom: 29px;
			}

			&_list {
				margin-top: 16px;
			}
		}
	}
}