body {
	font-family: font-family"MS Pゴシック",sans-serif;

	.message {
		margin: 250px auto;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
		background: #eee;
		padding: 45px;
		width: 50%;
		color: red;
		font-size: 20px;
	}
}
//変数のテスト
$fontColor: #004098;
body {
	.message {
		color: $fontColor;
	}	
}
