.wp-block-image {
  text-align: center;
  margin: 10px auto 20px;
  padding: 10px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  max-width: 100%; }

.wp-block-image img,
.wp-block-gallery img {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5); }

.blocks-gallery-item figure {
  position: relative; }

.wp-block-gallery ul li {
  line-height: 1.4; }

.wp-block-pullquote {
  padding: 8px; }

.wp-block-table {
  display: table;
  margin: 32px 0; }
  .wp-block-table th, .wp-block-table td {
    border-color: #e3e7ed; }

.wp-block-archives.aligncenter,
.wp-block-categories.aligncenter,
.wp-block-latest-posts.aligncenter {
  list-style-position: inside;
  text-align: center; }

.wp-block-pullquote.alignwide, .wp-block-pullquote.alignfull {
  background: #fff; }
.wp-block-pullquote.alignfull {
  padding-left: 24px;
  padding-right: 24px; }


