.laid_back_posts_sortable_ul li {
  padding: 8px 12px;
  border: 1px solid #333;
  background: #fff;
  cursor: move;
  touch-action: none; }
  .laid_back_posts_sortable_ul li.invisible {
    color: #aaa;
    border: 1px dashed #aaa; }
    .laid_back_posts_sortable_ul li.invisible .dashicons.visibility {
      color: #aaa; }
  .laid_back_posts_sortable_ul li .dashicons-visibility {
    cursor: pointer; }

.laid_back_posts_sortable_ul li i.dashicons-visibility {
  margin-right: 8px; }

.laid_back_posts_sortable_ul li i.dashicons-menu {
  float: right; }


