body {
  color: #3c4356; }

a {
  color: #222;
  text-decoration: none;
  font-weight: 700; }
  a:hover {
    color: #1578bd; }

p {
  font-size: 16px;
  line-height: 30px;
  margin: 22px 0; }
  p:first-of-type {
    margin-top: 0; }

h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.75;
  color: #1a1e35; }

h1 {
  font-size: 28px;
  margin: 40px 0 20px; }

h2 {
  font-size: 24px;
  margin: 36px 0 18px; }

h3 {
  font-size: 20px;
  margin: 32px 0 16px; }

h4 {
  font-size: 16px;
  margin: 28px 0 14px; }

h5 {
  font-size: 14px;
  margin: 24px 0 12px; }

h6 {
  font-size: 12px;
  margin: 20px 0 10px; }

ul, ol {
  padding: 4px 8px 4px 32px; }

ul ul {
  margin-top: 8px;
  margin-bottom: 0;
  padding: 0 0 0 32px; }
  ul ul li:last-child {
    padding-bottom: 0; }

ul li, ol li {
  line-height: 30px;
  padding: 0 0 8px; }

blockquote p {
  margin-bottom: 0; }

hr {
  border-bottom: 1px dashed #1a1e35; }


